h1 {
  text-align: center;
color: #7527F5;
}

h5 {
  text-align: center;
  color: #A880E9;
}

p {
  text-align: center;
}

#picture-box {
  background-color: #E4E3E4;
  border-radius: 15px;
  padding: 8px;
}
